In [ ]:
#List
contoh_list = ["Dhiva", 12, 12.0, ['Nadhiva', 'Fahriani'], {}, (), True]
print(contoh_list[0])
print(contoh_list[1])
print(contoh_list[-1])

In [ ]:
#dictionary -> key:value
contoh_dic = {12:"Dhiva", "hanadul":12, 12.0, ['Nadhiva', 'Fahriani'], {}, (), True}
print(contoh_list[12])
print(contoh_list["hanadul"])

In [ ]:
#contoh method di dict : .keys()
contoh_dict.keys()

In [ ]:
#nambahin value & key
contoh_dict = {12:"Dhiva", "hanadul":12}
contoh_dict["nadhiva"] = 121
print(contoh_dict)

{12: 'Dhiva', 'hanadul': 12, 'nadhiva': 121}

In [ ]:
contoh_dict["nadhiva"].append(1000)
print(contoh_dict)

In [ ]:
contoh_dict.pop("")
del contoh_dict[""]

In [ ]:
#contoh method di list :
list1 = [1,2,3,4,5,6]

list1.append()
list1.insert()
list1.sort() #dari kecil - besar
list1.sort(reverse = True) #dari besar - kecil
list1.pop(2)
list1.remove()
list1.remove(list1_angka[1])

In [ ]:
#set -> gabisa dipanggil
list_angka = [9,7,4,1,7]
list_angka

[9, 7, 4, 1, 7]

In [ ]:
set_angka = set(list_angka)
set_angka

{1, 4, 7, 9}

In [ ]:
list_angka = list(set_angka)
list_angka

[9, 4, 1, 7]

In [ ]:
#Tuple -> gabisa ditambah/dikurang tp bisa dipanggil
tuple_angka = (1,3,5,7,9,7)
tuple_angka[0]

In [ ]:
#for looping
for i in range(0, 10, 1): #klo di c = for(int i=0; i < 25; i++)
  print(i)

In [ ]:
#while looping
a = 0
while a<10:
  print("a masih lebih kecil dari 20{}".format(a))
  a += 1

In [ ]:
#umur user yang diinput tidak boleh dibawah 17

while True:
  umur = int(input())
  if umur >= 17:
    break

In [ ]:
while True:
  umur = int(input())
  if umur >= 17:
    continue
  elif umur > 17:
    break
  print("Jika dibawah umur 17 aku muncul")

In [ ]:
#for else 
for i in range(0, 20, 2):
    print(i)
    if i == 2:
      break
else:
    print("Aku akan muncul jika break tidak tereksekusi")

In [ ]:
#function
def nama_function(a,b):
    #masukin code kita disini
    if a > b:
      return a
    else:
      return b

In [ ]:
print(nama_function(a,b))

In [ ]:
contoh_list = ["Dhiva", 12, 12.0, ['Nadhiva', 'Fahriani'], {}, (), True]

for i in contoh_list:
  print(i)

In [ ]:
list_angka = [0,1,2,3,4,5,6,7,8,9]

for nilai in list_angka:
  if nilai == 0:
    list_angka.remove(nilai)
list_angka

In [ ]:
for char in "Nadhiva Fahriani":
  print(char)